body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.banner {
    padding: 100px 0;
    text-align: center;
    background-image: ();
    background-size: cover;
    background-position: center;
}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1, nav ul {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.banner, .info-section {
    padding: 40px 0;
    text-align: center;
}

.info-section {
    background: #f4f4f4;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background: #0779e4;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
